* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: aliceblue;
}
body, li, ul {
  background-color: rgb(24, 1, 27);
}

li {
  list-style: none;
}

h2 {
  text-align: center;
  color: rgb(24, 1, 27);
}